<h1>Create Restaurant</h1>
<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%# make category a dropdown menu %>
  <%= f.input :category %>
  <%= f.button :submit %>
<% end %>
